@{
    ViewBag.Title = "Home Page";
}

<section>


    <div class="row" style="background-color: #E72678; margin-bottom: 1vw;">
        <div class="col-md-1">


        </div>
        <div class="col-md-4">
            <a href="landing-digital-marketing-agency.html" class="btn-link-arrow  font-sm font-weight-semibold">
                Announcing Agreement Cloud: 2020 Release 3
                <i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i>
            </a>
        </div>


        <div class="col-md-7">
            <div class="row" style="margin-left: 23vw;">



                <p class="  font-sm font-weight-semibold">
                    Sales 1-877-720-2040
                </p>


                <p href="landing-digital-marketing-agency.html" class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Support
                </p>



                <p class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Acces Document
                </p>


                <p class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Log in
                </p>


            </div>

        </div>


    </div>


</section>


<header class="header header-sticky">
    <div class="container">

        <div class="row align-items-center">
            <div class="header-nav w-100">
                <nav class="navbar navbar-light navbar-expand-lg has-mega-menu-advanced">
                    <!-- logo -->
                    <a class="navbar-brand header-brand" href="index-intro.html" style="margin-top: 5px;"><img src="~/Content/assets/images/logo.svg" class="header-logo img-fluid" alt="logo" /></a>

                    <!-- navbar menu items -->
                    <div class="header-menu collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <!-- menu item : mega menu -->
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h3 class="mega-menu-title font-lg p-0 mt-3 mb-2">Agreement Cloud</h3>
                                        <div class="mega-menu-subtitle font-regular font-weight-light mb-1-5 col-md-6">
                                            Industry-leading applications, integrations and APIs  <div class="btn-wrap mt-1 text-global">
                                                <a href="landing-digital-marketing-agency.html" class="btn-link-arrow text-global font-sm font-weight-semibold">See Demo <i class="icon-right-arrow"></i> </a>
                                            </div>
                                        </div> <div class="border-bottom mb-1-5"></div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Contract Life Style Management</h3>
                                                        <p class="font-regular font-weight-light">Organized, automated document workflows</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Contract Analytics</h3>
                                                        <p class="font-regular font-weight-light">Analyze and negotiate agreements with proven AI</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Document Generations</h3>
                                                        <p class="font-regular font-weight-light">Generate documents from inside salef force</p>

                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <div class="btn-wrap mt-1 text-global">
                                                    <a href="landing-digital-marketing-agency.html" class="btn-link-arrow text-global font-sm font-weight-semibold">See Demo <i class="icon-right-arrow"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                    <!-- col -->
                                    <div class="menu-col col-md-3 col-sm-6">

                                    </div>
                                    <div class="menu-col col-md-1 col-sm-6 text-global">
                                        <div class="vr"></div>
                                    </div>
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h5 class="dropdown-header">Other Products </h5>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Payments</a></li>
                                            <li><a class="dropdown-item" href="#">Guided Forms</a></li>
                                            <li><a class="dropdown-item" href="#">ClickWraps</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Product <i class="icon-right-arrow"></i></a></li>
                                            <h5 class="dropdown-header">Integrations </h5>
                                            <li><a class="dropdown-item" href="#">Salesforce</a></li>
                                            <li><a class="dropdown-item" href="#">Workday</a></li>
                                            <li><a class="dropdown-item" href="#">SAP</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Integrations <i class="icon-right-arrow"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- /end cols -->
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Solutions
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">INDUSTRIES</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Financial Services</a></li>
                                            <li><a class="dropdown-item" href="#">Insurance</a></li>
                                            <li><a class="dropdown-item" href="#">Real Estate</a></li>
                                            <li><a class="dropdown-item" href="#">Mortgage</a></li>
                                            <li><a class="dropdown-item" href="#">Goverment</a></li>
                                            <li><a class="dropdown-item" href="#">Education</a></li>
                                            <li><a class="dropdown-item" href="#">Healtcare</a></li>
                                            <li><a class="dropdown-item" href="#">Life Sciences</a></li>


                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Industries <i class="icon-right-arrow"></i></a></li>

                                        </ul>

                                    </div>
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">Departments</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Sales</a></li>
                                            <li><a class="dropdown-item" href="#">Human Resources</a></li>
                                            <li><a class="dropdown-item" href="#">Procurement</a></li>
                                            <li><a class="dropdown-item" href="#">Legal</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Department <i class="icon-right-arrow"></i></a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <h6 class="dropdown-header">BUSSINESS SIZE</h6>
                                            <li><a class="dropdown-item" href="#">Enterprise</a></li>
                                            <li><a class="dropdown-item" href="#">Small Bussiness</a></li>
                                            <li><a class="dropdown-item" href="#">Individual</a></li>

                                        </ul>

                                    </div>

                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">Customer Success</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">We'll implement</br>cloud for you</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">Learn More <i class="icon-right-arrow"></i></a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <h6 class="dropdown-header">Explore</h6>
                                            <li><a class="dropdown-item" href="#">Customer Stories</a></li>
                                            <h6 class="dropdown-header">Partners</h6>
                                            <li><a class="dropdown-item" href="#">Partner Programs</a></li>
                                            <li><a class="dropdown-item" href="#">Partner Login</a></li>
                                        </ul>
                                    </div>
                                    <!-- /end cols -->
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Developers
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-8 col-sm-6">

                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li><div class="dropdown-divider"></div></li>

                                            <h5 class="dropdown-header">Other Products </h5>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hoverable">
                                <a class="nav-link dropdown-toggle dropdown-hover-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pricing
                                </a>

                                <div class="dropdown-menu multi-level" aria-labelledby="elementlink">
                                    <h6 class="dropdown-header">EXPLORE </h6>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">eSignaturePlans</a></li>
                                        <li><a class="dropdown-item" href="#">Real Estate Plans</a></li>
                                        <li><a class="dropdown-item" href="#">API Plans</a></li>
                                        <li><div class="dropdown-divider mr-1-5"></div></li>
                                        <h6 class="dropdown-header">Contact Sales </h6>
                                        <li><a class="dropdown-item" href="#">Find the perfect price with the help of our sales team</a></li>
                                        <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">Get In Touch <i class="icon-right-arrow"></i></a></li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- header right side -->
                    <div class="header-btns">
                        <nav class="header-nav-btns">
                            <ul class="list-inline m-0">
                                <!-- document dropdown -->
                                <li class="list-inline-item dropdown dropdown-menu-center d-none d-sm-inline-block">
                                    <form class="form-inline ">
                                        <div>
                                            <a href="form.html"> <button type="button" class="btn btn-outline-global btn-wider"> CONTACT SALES</button></a>

                                        </div>
                                        <div>

                                            <a href="form2.html"> 	<button type="button" class="btn btn-global btn-wider">FREE TRIAL</button></a>
                                        </div>
                                    </form>

                                </li>


                                <!-- buttons & menu toggle button on small devices -->
                                <li class="list-inline-item">

                                    <!-- menu toggle button -->
                                    <button type="button" class="btn menu-toggle d-block d-lg-none"><i class="icon--menu-line"></i></button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>
<section class="section " style=" background-image: url(&quot;https://www.docusign.com/sites/d8/files/hero_image/2020-09/hero-business-optimized.jpg&quot;); margin-top: 6.5vw;">

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10" style="margin-bottom: 2vw;">
                    <h3 style=" font-size:6.2vw; margin-top: 3vw; ; color: white;"> <strong>Keep your bussiness moving forward.</strong></h3>
                </div>

            </div>
            <h5 style="margin-top: 1vw; font-size:3vw; color: #D6FB00;">Get started with eSignature.</h5>
            <div class="row" style="margin-top: 5vw;">


                <div class="col-md-6" style="padding-left: 0px; padding-right:0px; border-right: 1px; border-left: 0px; border-top:0px; border-bottom:0px;border-style: solid;">
                    <div class="card elem">

                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title" style="margin-top:1vw;">Docusing eSignature</h5>
                                        <p class="card-text" style="margin-bottom: 1vw;">Join 500,000 customers and hundreds of milions of signers</p>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-global btn-wider" style="margin-top: 2vw; margin-left:8vw">Try it free</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>



                <div class="col-md-6 " style="padding-left: 1px; padding-right:0px;">
                    <div class="card elem ">

                        <div class="card-body ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title" style="margin-top:1vw;">Agreement Cloud</h5>
                                        <p class="card-text" style="margin-bottom: 1vw;">Connect and automate your entire agreement process</p>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-outline-global btn-wider" style="margin-top: 2vw; margin-left: 8vw">Global</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        </div>


</section>
<section style="background-color: black">
    <div class="container" style="background-color: black">

        <center>
            <div class="row">
                <div class="col-md-4" style="margin-top: 8vw">
                    <h5 style="color: #D6FB00"><strong><br> Agreement Cloud</strong> </h5>
                </div>
                <div class="col-md-8" style="margin-top: 8vw; margin-bottom: 8vw">
                    <h1 style="color: white"><strong>It’s time to agree better</strong> </h1>
                    <p style="color: white">Your organization runs on contracts and other types of agreements. It’s time to <br> transform how you prepare, sign, act on, and manage them.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe width="1300" height="600" src="https://www.youtube.com/embed/nZCCi3da9m0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-bottom: 6vw;"></iframe>
                </div>
            </div>
        </center>

    </div>

</section>
<center>
    <section style="background-color: black">
        <div class="container" style="background-color: black">
            <div class="border-bottom "></div>
            <div class="row">
                <div class="col-md-4">
                    <h5 style="color: white; margin-top: 8vw">A suite of applications and <br> integrations for automating<br> and connecting the entire<br> agreement process</h5>
                </div>
                <div class="col-md-4" style="margin-top: 8vw">
                    <div>
                        <img src="~/Content/assets/images/sarıok.png">
                    </div><br>
                    <div>
                        <img src="~/Content/assets/images/maviok.png" style="margin-top:1vw">
                    </div><br>
                    <div>
                        <img src="~/Content/assets/images/yesil.png" style="margin-top:1vw">
                    </div><br>
                    <div>
                        <img src="~/Content/assets/images/pembe.png" style="margin-top:1vw">
                    </div>
                    <div style="margin-top: 4vw; margin-bottom:6vw; ">
                        <a href="#" class="btn-link btn-link-arrow text-global">Show All Features<i class="icon-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 8vw;margin-left: -10vw">
                    <div style="margin-top: -1vw">
                        <br>
                        <h5 style="color: white">Electronic Signature</h5>
                        <p style="color: white">Send, sign and succedd with eSignature</p>
                    </div>
                    <div style="margin-top: 1vw ">
                        <br>
                        <h5 style="color: white">Electronic Signature</h5>
                        <p style="color: white">Send, sign and succedd with eSignature</p>
                        <br>
                    </div>
                    <div>
                        <br>
                        <h5 style="color: white">Electronic Signature</h5>
                        <p style="color: white">Send, sign and succedd with eSignature</p>
                        <br>
                    </div>
                    <div>
                        <br>
                        <h5 style="color: white">Electronic Signature</h5>
                        <p style="color: white">Send, sign and succedd with eSignature</p>
                        <br>
                    </div>


                </div>

            </div>
            <div class="border-bottom "></div>
        </div>

    </section>
</center>



<section style="background-color: black;">
    <div class="container" style="background-color: black; margin-bottom: 4vw; ">

        <center>
            <div class="row" style="margin-bottom: 4vw;">
                <div class="col-md-6" style="margin-top: 2vw">
                    <h5 style="color: white"><strong><br>Ready to explore the Agreement Cloud?</strong> </h5>
                </div>
                <div class="col-md-6" style="margin-top: 3vw; margin-bottom: 8vw">
                    <div class="row" style="margin-bottom: 6vw;">

                        <div class="col-md-2">

                        </div>

                        <div class="col-md-5">
                            <button type="button" class="btn btn-outline-global btn-wider" style="width: 100%">Contact Sales</button>
                        </div>


                        <div class="col-md-5">
                            <button type="button" class="btn btn-global btn-wider" style="width: 100%">Learn More</button>
                        </div>

                    </div>





                </div>
            </div>

        </center>

    </div>

</section>

<section class="section  ">


    <div style="background-color: white;" class="container">
        <div class="row">
            <div class="col-md-10" style="margin-bottom: 2vw;">
                <h5 style="margin-top:7vw; font-size:4vw ">
                    <strong>
                        Lower your costs,save time,
                        and elevate the customer
                        experience
                    </strong>
                </h5>
            </div>

        </div>
        <div class="border-bottom"></div>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-top: 22px; font-size:10vw ">$36</h5>
                <button style="margin-left: 20vw" class="btn btn-light-global btn-icon" data-toggle="popover" data-content="1IntelliCap, 2015. DocuSign eSignature enterprise customers realized an average of $36 of incremental value per transaction, with a range from $5 to $100 per document depending on use case.
">
                    1
                </button>
            </div>
            <div class="col-md-6">
                <h5 style="margin-top: 10vw; font-size:3vw">in time and materials saved per agreement</h5>

            </div>
        </div>

        <div class="border-bottom"></div>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-top: 22px; font-size:10vw ">80%</h5>
                <button style="margin-left: 20vw" class="btn btn-light-global btn-icon" data-toggle="popover" data-content="1IntelliCap, 2015. DocuSign eSignature enterprise customers realized an average of $36 of incremental value per transaction, with a range from $5 to $100 per document depending on use case.
">
                    2
                </button>
            </div>
            <div class="col-md-6">
                <h5 style="margin-top: 10vw; font-size:3vw">faster turnaround time</h5>

            </div>
        </div>
        <div class="border-bottom"></div>

        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-top: 22px; font-size:10vw ">66</h5>
                <button style="margin-left: 20vw" class="btn btn-light-global btn-icon" data-toggle="popover" data-content="1IntelliCap, 2015. DocuSign eSignature enterprise customers realized an average of $36 of incremental value per transaction, with a range from $5 to $100 per document depending on use case.
">
                    3
                </button>
            </div>
            <div class="col-md-6">
                <h5 style="margin-top: 10vw; font-size:3vw">Net Promoter Score</h5>
                <p style="text-align: center;"> (at the level of Apple and Amazon)</p>
            </div>
        </div>
        <div class="border-bottom"></div>
        <div class="row">
            <div class="col-md-10">
                <h5 style="margin-top: 8vw; font-size:4vw "> <strong>500,000+ organizations are already becoming more agreeable</strong></h5>
            </div>

        </div>
    </div>




</section>



<div class="section-body">
    <!-- collections -->
    <div class="row post-grid">
        <!-- post item -->
        <!-- post item : tall style -->
        <div class=" col-md-6">
            <div class="post-item card" onmouseover="sirket1in()" onmouseout="sirket1out()">
                <iframe id="frame1" width="100%" height="400 vw" src="https://www.youtube.com/embed/kOpqnUwRcvA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <div id="tmobilecard" style="display: block;" class="card-body">
                    <div id="kartcik1" style="display: block">

                        <h5 class="text-global">Enterprise</h5>

                        <h2 class="section-title"><strong>T-Mobile accelaration its in-store agreement experience</strong></h2>
                        <div class="post-item-meta d-flex align-items-center mt-4">
                            <div class="post-item-author media">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class=" col-md-6">
            <div class="post-item card" onmouseover="sirket2in()" onmouseout="sirket2out()">
                <a href="#"><iframe id="frame2" width="100%" height="400 vw" src="https://www.youtube.com/embed/gCNsYWgY7ZE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                <div class="card-body">
                    <div id="kartcik2" style="display: block">
                        <h5 class="text-global">Enterprise</h5>

                        <h2 class="section-title"><strong>Unilever automates the agreement process across its globally suply chain</strong></h2>
                        <div class="post-item-meta d-flex align-items-center mt-4">
                            <div class="post-item-author media">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="section-body">
    <!-- collections -->
    <div class="row post-grid">
        <!-- post item -->
        <!-- post item : tall style -->
        <div class=" col-md-6">
            <div class="post-item card" onmouseover="sirket3in()" onmouseout="sirket3out()">
                <a href="#"><iframe id="frame3" width="100%" height="400 vw" src="https://www.youtube.com/embed/FjtlP6-ILmk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                <div class="card-body">
                    <div id="kartcik3" style="display: block">

                        <h5 class="text-global">Individual</h5>

                        <h2 class="section-title"><strong>Kauai Nut Roasters send and sign agreements from almost anywhere, at any time</strong></h2>
                        <div class="post-item-meta d-flex align-items-center mt-4">
                            <div class="post-item-author media">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="card-hov-1" class=" col-md-6" style="display: none;">

            <img style="width: 100%; height: 100%;" src="~/Content/assets/images/salesforce.png" class="img-fluid card-img" alt=""></a>


        </div>
        <div class=" col-md-6" id="card-hov-1-body">
            <div class="post-item card" onmouseover="sirket4in()" onmouseout="sirket4out()">
                <a href="#"><iframe id="frame4" width="100%" height="400 vw" src="https://www.youtube.com/embed/di6iwHhrH6s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                <div class="card-body">
                    <div id="kartcik4" style="display: block">

                        <h5 class="text-global">Enterprise</h5>

                        <h2 class="section-title"><strong>Salesforce blazes new trails by capturing never-before-seen customer data</strong></h2>
                        <div class="post-item-meta d-flex align-items-center mt-4">
                            <div class="post-item-author media">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>


<div class="container" style="margin-bottom: 15vw; margin-top: 15vw;">



    <section class="customer-logos slider">
        <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
    </section>

    <div class="border-bottom" style="margin-top: 50px; margin-bottom: 2vw;"></div>
    <a href="#" class="btn-link btn-link-arrow text-global " style="font-size: 20px; "> See customer stories<i class="icon-right"></i></a>
</div>

<section class="section section-2x-padding lazy-back features-carousel-wrap" style="margin-bottom: 2vw;">


    <div style="" class="container">
        <div class="">
            <h5 style="margin-top: 1vw; margin-bottom: 3vw; font-size:4vw"><strong>Trusted worldwide</strong></h5>
        </div>
        <div class="border-bottom" style="margin-bottom: 3vw; "></div>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-top: 22px">Globally adopted</h5>
                <p style="margin-bottom: 2vw;">DocuSign eSignature has signers in 180 countries. You can sign agreements in 44 languages and send them in 14.</p>
                <a href="#" class="btn-link btn-link-arrow text-global">Show All Features<i class="icon-right"></i></a>
            </div>
            <div class="col-md-6">
                <h5 style="margin-top: 22px">Highly performant and available</h5>
                <p style="margin-bottom: 3vw;">DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>

            </div>
        </div>
        <div class="border-bottom" style="margin-top:3vw; margin-bottom: 3vw"></div>
        <div class="row">
            <div class="col-md-4">
                <h5 style="margin-top: 22px">Certified and secure</h5>
                <p>Meets or exceeds stringent global security standards</p>
                <a href="#" class="btn-link btn-link-arrow text-global">Show All Features<i class="icon-right"></i></a>
            </div>
            <div class="col-md-4">
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
            </div>
            <div class="col-md-4">
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
                <h5 style="margin-top: 22px"><i class="icon-checkmark" style="padding-right: 1vw; "></i>Highly performant and available</h5>
                <p>DocuSign’s eSignature infrastructure has consistently delivered 99.99% availability with no maintenance downtime.</p>
            </div>
        </div>

    </div>




</section>


<div class="section-body">
    <!-- collections -->
    <div class="row ">
        <!-- post item -->
        <!-- post item : tall style -->

        <div class="post-wrap post-tall col-md-6" onMouseOver="resimcerceve()" onMouseOut="resimcerceveyok()">
            <div class="post-item card h-100">
                <a href="#" class="h-100"><img src="~/Content/assets/images/gecis.png" class="img-fluid card-img h-100 card-img-cover" alt=""></a>
                <div class="card-img-overlay">
                    <div style="margin-bottom: 9vw;">
                        <h4 class=" text-white">Advancing Agreement Process</h4>
                        <h3 class=" text-white">Agreement Cloud: 2020 Release 3</h3>


                    </div>

                    <div id="card1" style="display: none">
                        <div class="border-bottom" style="margin-bottom: 1vw;"></div>
                        <h4 class=" text-white">New innovative products and the lastest updates for eSignature, CLM and Click</h4>
                        <a href="#" class="post-item-category  text-global btn-link-arrow" style="font-size: 1.5vw;  padding-top:5px; ">
                            Learn More
                            <i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <div class="post-wrap post-tall col-md-6" onMouseOver="resimcerceve2()" onMouseOut="resimcerceveyok2()">
            <div class="post-item card h-100">
                <a href="#" class="h-100"><img src="~/Content/assets/images/siyah.png" class="img-fluid card-img h-100 card-img-cover" alt=""></a>
                <div class="card-img-overlay">
                    <div style="margin-bottom: 9vw;">
                        <h4 class=" text-white">The ROI of CLM</h4>
                        <h3 class=" text-white">Forrester TEI Study</h3>


                    </div>
                    <div id="card2" style="display: none">
                        <div class="border-bottom" style="margin-bottom: 1vw;"></div>
                        <h4 class=" text-white">Save time and money with a contract lifecylce management solution.</h4>
                        <a href="#" class="post-item-category  text-global btn-link-arrow" style="font-size: 1.5vw;  padding-top:5px; ">Learn More<i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="section-body">
    <!-- collections -->
    <div class="row post-grid" style="margin-top: 1vw">
        <!-- post item -->
        <!-- post item : tall style -->
        <div class="post-wrap post-tall col-md-6" onMouseOver="resimcerceve3()" onMouseOut="resimcerceveyok3()">
            <div class="post-item card h-100">
                <a href="#" class="h-100"><img src="~/Content/assets/images/siyah.png" class="img-fluid card-img h-100 card-img-cover" alt=""></a>
                <div class="card-img-overlay">
                    <div style="margin-bottom: 11vw;">
                        <h4 class=" text-white">DocuSing and COVID19</h4>
                        <h3 class=" text-white">Resources to help you and your business</h3>


                    </div>
                    <div id="card3" style="display: none">
                        <div class="border-bottom" style="margin-bottom: 1vw;"></div>
                        <h4 class=" text-white">Save time and money with a contract lifecylce management solution.</h4>
                        <a href="#" class="post-item-category  text-global btn-link-arrow" style="font-size: 1.5vw;  padding-top:5px; ">Learn More<i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="post-wrap post-tall col-md-6" onMouseOver="resimcerceve4()" onMouseOut="resimcerceveyok4()">
            <div class="post-item card h-100">
                <a href="#" class="h-100"><img src="~/Content/assets/images/agacmanzara.png" class="img-fluid card-img h-100 card-img-cover" alt=""></a>
                <div class="card-img-overlay">
                    <div style="margin-bottom: 11vw;">
                        <h4 class=" text-white">Sign for Good</h4>
                        <h3 class=" text-white">DocuSign for Forests</h3>


                    </div>
                    <div id="card4" style="display: none">
                        <div class="border-bottom" style="margin-bottom: 1vw;"></div>
                        <h4 class=" text-white">We’ve saved 2.5 million trees’ worth of paper—and we’re just getting started.</h4>
                        <a href="#" class="post-item-category  text-global btn-link-arrow" style="font-size: 1.5vw;  padding-top:5px; ">Learn More<i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>



<section>
    <div class="card-body" style="margin-bottom: 4vw; margin-top: 5vw;">
        <div class="container">
            <div class="section-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-title-wrap text-left section-title-wrap--left mb-5 mb-lg-0">
                            <div class="section-title-inner d-inline-block">
                                <h3 class="section-title">Ready to get started?</h3>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-global btn-wider" style="width: 100%;">Contact Sales</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-global btn-wider" style="width: 100%;">Free Trial</button>

                    </div>
                </div>
            </div>
</section>





<footer class="footer footer-minimal footer-minimal-light bg-light-primary">

    <div class="footer-minimal-body">

        <div class="container">

            <!-- footer columns row -->
            <div class="row pt-4">
                <!-- col -->

                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Product<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Engagement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Support</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h3 hidden="" class="font-sm footer-title">Pricing  <span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <br>
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><h3 class="font-sm footer-title">Segments<span class="font-weight-light"></span></h3></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Mid-Market / Enterprise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Small Business</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Early Stage</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Partners<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h3 hidden="" class="font-sm footer-title">Developers <span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <br>
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><h3 class="font-sm footer-title">Developers<span class="font-weight-light"></span></h3></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Mid-Market / Enterprise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Small Business</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Support<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Watch a Demo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Academy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Webinars</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">What's New</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Product Changes</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Recourses<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Press Resources</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">App Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Service Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Company</h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Press Resources</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">App Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Service Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
            <div class="border-bottom"></div>
            <div class="footer-minimal-body">

                <div class="container">

                    <!-- footer columns row -->
                    <div class="row pt-4">
                        <!-- col -->

                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Trending topics</a>
                                            </li>


                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Conversational Marketing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Conversational Marketing</a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Blog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Watch a Demo</a>
                                            </li>

                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">About</a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- footer inline nav  -->
                    <div class="row py-4 align-items-center">
                        <div class="col-lg-8 col-md-12 col-sm-12 mb-5">
                            <!-- footer logos Or social media -->
                            <!-- <div class="footer-logos d-flex align-items-center">
                                <img src="assets/images/payment/Visa.png" class="img-fluid mr-4 mb-3 mb-md-0" alt="Image Description"/>
                                <img src="assets/images/payment/skrill_logo.png" class="img-fluid mr-4 mb-3 mb-md-0" alt="Image Description"/>
                                <img src="assets/images/payment/paypal.svg" class="img-fluid mb-3 mb-md-0" alt="Image Description"/>
                            </div> -->
                            <ul class="list-inline social-list d-inline-block align-middle mb-md-0 mr-5">
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-facebook-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-linkedin2"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-instagram"></i></a></li>
                            </ul>
                            <div class="dl-links d-inline-block align-middle">
                                <a href="#" class="btn btn-dl-link media d-inline-flex mb-3 mb-sm-0">
                                    <i class="icon-googleplay align-self-center mr-3"></i>
                                    <div class="media-body dl-link-text">
                                        Google Play
                                        <small class="d-block">Android App On</small>
                                    </div>
                                </a>
                                <a href="#" class="btn btn-dl-link media d-inline-flex">
                                    <i class="icon-apple align-self-center mr-3"></i>
                                    <div class="media-body dl-link-text">
                                        App Store
                                        <small class="d-block">Download On The</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mt-md-0 mt-4 text-left text-lg-right mb-4 mb-lg-5">
                            <nav class="footer-list">
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item"><a href="#">Terms</a></li>
                                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                                    <li class="list-inline-item"><a href="#">Status</a></li>
                                    <li class="list-inline-item"><a href="#">Security</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- footer rules and copyright -->
                    <div class="row rules align-items-center">
                        <div class="col-md-8 col-sm-7 col-12">
                            <div class="footer-copyright">
                                <p class="text-muted">Copyright © 2019 All Rights Reserved by <strong class="text-dark"> Grona.</strong></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
</footer>