
@{
    ViewBag.Title = "SalesForm";
}



<section>


    <div class="row" style="background-color: #E72678; margin-bottom: 1vw;">
        <div class="col-md-1">


        </div>
        <div class="col-md-4">
            <a href="landing-digital-marketing-agency.html" class="btn-link-arrow  font-sm font-weight-semibold">
                Announcing Agreement Cloud: 2020 Release 3
                <i class="icon-forward" title="" data-original-title="Copy to clipboard" aria-describedby="tooltip450668"></i>
            </a>
        </div>


        <div class="col-md-7">
            <div class="row" style="margin-left: 23vw;">



                <p class="  font-sm font-weight-semibold">
                    Sales 1-877-720-2040
                </p>


                <p href="landing-digital-marketing-agency.html" class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Support
                </p>



                <p class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Acces Document
                </p>


                <p class="  font-sm font-weight-semibold" style="padding-left: 1rem;">
                    Log in
                </p>


            </div>

        </div>


    </div>


</section>

<header class="header header-sticky">
    <div class="container">

        <div class="row align-items-center">
            <div class="header-nav w-100">
                <nav class="navbar navbar-light navbar-expand-lg has-mega-menu-advanced">
                    <!-- logo -->
                    <a class="navbar-brand header-brand" href="index-intro.html" style="margin-top: 5px;"><img src="~/Content/assets/images/logo.svg" class="header-logo img-fluid" alt="logo" /></a>

                    <!-- navbar menu items -->
                    <div class="header-menu collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <!-- menu item : mega menu -->
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h3 class="mega-menu-title font-lg p-0 mt-3 mb-2">Agreement Cloud</h3>
                                        <div class="mega-menu-subtitle font-regular font-weight-light mb-1-5 col-md-6">
                                            Industry-leading applications, integrations and APIs  <div class="btn-wrap mt-1 text-global">
                                                <a href="landing-digital-marketing-agency.html" class="btn-link-arrow text-global font-sm font-weight-semibold">See Demo <i class="icon-right-arrow"></i> </a>
                                            </div>
                                        </div> <div class="border-bottom mb-1-5"></div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Contract Life Style Management</h3>
                                                        <p class="font-regular font-weight-light">Organized, automated document workflows</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Contract Analytics</h3>
                                                        <p class="font-regular font-weight-light">Analyze and negotiate agreements with proven AI</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Document Generations</h3>
                                                        <p class="font-regular font-weight-light">Generate documents from inside salef force</p>

                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <div class="btn-wrap mt-1 text-global">
                                                    <a href="landing-digital-marketing-agency.html" class="btn-link-arrow text-global font-sm font-weight-semibold">See Demo <i class="icon-right-arrow"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                    <!-- col -->
                                    <div class="menu-col col-md-3 col-sm-6">

                                    </div>
                                    <div class="menu-col col-md-1 col-sm-6 text-global">
                                        <div class="vr"></div>
                                    </div>
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h5 class="dropdown-header">Other Products </h5>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Payments</a></li>
                                            <li><a class="dropdown-item" href="#">Guided Forms</a></li>
                                            <li><a class="dropdown-item" href="#">ClickWraps</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Product <i class="icon-right-arrow"></i></a></li>
                                            <h5 class="dropdown-header">Integrations </h5>
                                            <li><a class="dropdown-item" href="#">Salesforce</a></li>
                                            <li><a class="dropdown-item" href="#">Workday</a></li>
                                            <li><a class="dropdown-item" href="#">SAP</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Integrations <i class="icon-right-arrow"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- /end cols -->
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Solutions
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">INDUSTRIES</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Financial Services</a></li>
                                            <li><a class="dropdown-item" href="#">Insurance</a></li>
                                            <li><a class="dropdown-item" href="#">Real Estate</a></li>
                                            <li><a class="dropdown-item" href="#">Mortgage</a></li>
                                            <li><a class="dropdown-item" href="#">Goverment</a></li>
                                            <li><a class="dropdown-item" href="#">Education</a></li>
                                            <li><a class="dropdown-item" href="#">Healtcare</a></li>
                                            <li><a class="dropdown-item" href="#">Life Sciences</a></li>


                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Industries <i class="icon-right-arrow"></i></a></li>

                                        </ul>

                                    </div>
                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">Departments</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">Sales</a></li>
                                            <li><a class="dropdown-item" href="#">Human Resources</a></li>
                                            <li><a class="dropdown-item" href="#">Procurement</a></li>
                                            <li><a class="dropdown-item" href="#">Legal</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">See All Department <i class="icon-right-arrow"></i></a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <h6 class="dropdown-header">BUSSINESS SIZE</h6>
                                            <li><a class="dropdown-item" href="#">Enterprise</a></li>
                                            <li><a class="dropdown-item" href="#">Small Bussiness</a></li>
                                            <li><a class="dropdown-item" href="#">Individual</a></li>

                                        </ul>

                                    </div>

                                    <!-- col -->
                                    <div class="menu-col col-md-4 col-sm-6">
                                        <h6 class="dropdown-header">Customer Success</h6>
                                        <ul>
                                            <li><a class="dropdown-item" href="#">We'll implement</br>cloud for you</a></li>
                                            <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">Learn More <i class="icon-right-arrow"></i></a></li>
                                            <li><div class="dropdown-divider"></div></li>
                                            <h6 class="dropdown-header">Explore</h6>
                                            <li><a class="dropdown-item" href="#">Customer Stories</a></li>
                                            <h6 class="dropdown-header">Partners</h6>
                                            <li><a class="dropdown-item" href="#">Partner Programs</a></li>
                                            <li><a class="dropdown-item" href="#">Partner Login</a></li>
                                        </ul>
                                    </div>
                                    <!-- /end cols -->
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-menu-wrapper">
                                <a class="nav-link dropdown-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Developers
                                </a>

                                <div class="dropdown-menu mega-menu" aria-labelledby="elementlink">
                                    <!-- col -->
                                    <div class="menu-col col-md-8 col-sm-6">

                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li><div class="dropdown-divider"></div></li>

                                            <h5 class="dropdown-header">Other Products </h5>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="simple-icon-text">
                                                        <h3 class="simple-icon-text-title font-md mb-1">Elektronic Signature</h3>
                                                        <p class="font-regular font-weight-light">The world's #1 way to sign electronicaly</p>

                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>


                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hoverable">
                                <a class="nav-link dropdown-toggle dropdown-hover-toggle" href="#" id="elementlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pricing
                                </a>

                                <div class="dropdown-menu multi-level" aria-labelledby="elementlink">
                                    <h6 class="dropdown-header">EXPLORE </h6>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">eSignaturePlans</a></li>
                                        <li><a class="dropdown-item" href="#">Real Estate Plans</a></li>
                                        <li><a class="dropdown-item" href="#">API Plans</a></li>
                                        <li><div class="dropdown-divider mr-1-5"></div></li>
                                        <h6 class="dropdown-header">Contact Sales </h6>
                                        <li><a class="dropdown-item" href="#">Find the perfect price with the help of our sales team</a></li>
                                        <li><a class="dropdown-footer btn-link-arrow mt-0" href="#">Get In Touch <i class="icon-right-arrow"></i></a></li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- header right side -->
                    <div class="header-btns">
                        <nav class="header-nav-btns">
                            <ul class="list-inline m-0">
                                <!-- document dropdown -->
                                <li class="list-inline-item dropdown dropdown-menu-center d-none d-sm-inline-block">
                                    <form class="form-inline ">
                                        <div>
                                            <button type="button" class="btn btn-outline-global btn-wider">CONTACT SALES</button>

                                        </div>
                                        <div>

                                            <button type="button" class="btn btn-global btn-wider">FREE TRIAL</button>
                                        </div>
                                    </form>

                                </li>


                                <!-- buttons & menu toggle button on small devices -->
                                <li class="list-inline-item">

                                    <!-- menu toggle button -->
                                    <button type="button" class="btn menu-toggle d-block d-lg-none"><i class="icon--menu-line"></i></button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>


<section>
    <div class="row" style="margin-top:10vw;">
        <div class="col-md-3 ">


        </div>


        <div class="col-md-6 " style="height: 15rem">

            <img style="height: 35%; width: 100%; margin: auto;" data-delta="1" src="https://www.docusign.com/sites/default/files/DocuSign-for-enterprise_1.svg" alt="">
            <div style="text-align: center;">
                <h3 style="margin-top:1vw; ">Contact our sales team</h3>
                <center>
                    <p style="margin-bottom: 3vw; width: 60%">
                        * Speak with a sales representative now: <span style="color: blue"> 1‑877‑720‑2040</span>
                        (Mon-Fri: 24 hours, Sat-Sun: 5am-5pm PT)
                    </p>
            </div></center>
        </div>

        <div class="col-md-3 ">


        </div>
    </div>

</section>


<section>
    <div class="container" style="width: 50rem; background-color:whitesmoke ">
        <div style="text-align: center">
            <h3 style="padding-top:2vw;">Get in touch</h3>
            <div class="btn-checkbox-title" style="margin-top: 1vw;">Please fill out this form to be contacted by a DocuSign Sales Representative.</div>
        </div>
        @using (Html.BeginForm("saleskayit", "Sales", FormMethod.Post))
        {
            <form class="form gr-form" style="margin-top: 2vw; margin-bottom: 2vw; margin-right: 2vw; margin-left: 2vw;">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">First Name</label>
                            <input type="text" name="firstName" class="form-control" required>
                            <label class="gr-label">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Last Name</label>
                            <input type="text" name="lastName" class="form-control" required>
                            <label class="gr-label">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Email</label>
                            <input type="text" name="email" class="form-control" required>
                            <label class="gr-label">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Phone Number</label>
                            <input type="text" name="phone" class="form-control" required>
                            <label class="gr-label">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Job Title</label>
                            <input type="text" name="job" class="form-control" required>
                            <label class="gr-label">Job Title</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Company</label>
                            <input type="text" name="company" class="form-control" required>
                            <label class="gr-label">Company</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Industry</label>
                            <input type="text" name="industry" class="form-control" required>
                            <label class="gr-label">Industry</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group gr-form-group gr-form-group-dark gr-form-group-inside" style="margin-top: 1vw; ">
                            <label class="gr-top-label">Country</label>
                            <input type="text" name="country" class="form-control" required>
                            <label class="gr-label">Country</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <label class="gr-top-label">Please describe what you need help with: (200 char max)</label>
                    <textarea class="form-control" name="message" id="floatingTextarea2" style="height: 100px" required></textarea>

                </div>
                <label class="btn-checkbox" style="margin-top: 1vw;">
                    <input type="checkbox" class="btn-checkbox-input" required>
                    <span class="btn-checkbox-toggle"></span>
                    <span class="btn-checkbox-title">I agree to receive marketing communications and promotional offers from DocuSign.</span>
                </label>
                <div class="btn-checkbox-title" style="margin-top: 1vw;">By clicking the ‘SUBMIT’ button below, you agree to the <span style="color: blue">Terms & Conditions</span> and <span style="color: blue">Privacy Policy.</span></div>

                <div style="width: 20rem; height: 5rem; background-color:white; border-style: solid; border:1px; margin-top: 1vw; ">
                    <label class="btn-checkbox" style="margin-top: 1vw;">
                        <input type="checkbox" class="btn-checkbox-input" required>
                        <span class="btn-checkbox-toggle"></span>
                        <span class="btn-checkbox-title">I am not a Robot.</span>

                    </label>
                    <img src="~/Content/assets/images/recp.png" style="padding-left: 5.5vw;">
                </div>


                <div class="form-group" style="margin-top: 1vw; text-align:center">
                    <button class="btn btn-primary btn-wider" type="submit" style="margin-top: 2vw; margin-bottom: 3vw; ">SUBMIT</button>
                </div>
            </form>
        }
    </div>
</section>
<center>
    <section style="margin-bottom: 4vw;">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="border-right: 0.1rem; border-right-style: solid; height: 8rem ">
                    <div style="margin-top: 1vw;">
                        <strong>	Need support?</strong>
                    </div>
                    <div style="margin-top:2vw;">
                        For technical or billing questions,<br>
                        contact customer support.
                    </div>
                </div>

                <div class="col-md-4">
                    <div style="margin-top: 1vw;">
                        <strong>Not an enterprise customer?</strong>
                    </div>
                    <div style="margin-top:2vw;">
                        Find a plan that's right for you.<br>
                        See plans and pricing >
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</center>










<footer class="footer footer-minimal footer-minimal-light bg-light-primary">

    <div class="footer-minimal-body">

        <div class="container">

            <!-- footer columns row -->
            <div class="row pt-4">
                <!-- col -->

                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Product<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Engagement</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Support</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h3 hidden="" class="font-sm footer-title">Pricing  <span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <br>
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><h3 class="font-sm footer-title">Segments<span class="font-weight-light"></span></h3></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Mid-Market / Enterprise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Small Business</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Early Stage</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Partners<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Conversational Marketing</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h3 hidden="" class="font-sm footer-title">Developers <span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <br>
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><h3 class="font-sm footer-title">Developers<span class="font-weight-light"></span></h3></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Mid-Market / Enterprise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Small Business</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Support<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Watch a Demo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Academy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Webinars</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">What's New</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Product Changes</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Recourses<span class="font-weight-light"></span></h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Press Resources</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">App Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Service Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                    <div class="footer-col">
                        <h3 class="font-sm footer-title">Company</h3>
                        <div class="footer-col-body">
                            <nav class="footer-nav">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Press Resources</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">App Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Service Partner Program</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Community Forum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Careers</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
            <div class="border-bottom"></div>
            <div class="footer-minimal-body">

                <div class="container">

                    <!-- footer columns row -->
                    <div class="row pt-4">
                        <!-- col -->

                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Trending topics</a>
                                            </li>


                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Conversational Marketing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Conversational Marketing</a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Blog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Watch a Demo</a>
                                            </li>

                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 mb-5">
                            <div class="footer-col">
                                <div class="footer-col-body">
                                    <nav class="footer-nav">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">About</a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- footer inline nav  -->
                    <div class="row py-4 align-items-center">
                        <div class="col-lg-8 col-md-12 col-sm-12 mb-5">
                            <!-- footer logos Or social media -->
                            <!-- <div class="footer-logos d-flex align-items-center">
                                <img src="assets/images/payment/Visa.png" class="img-fluid mr-4 mb-3 mb-md-0" alt="Image Description"/>
                                <img src="assets/images/payment/skrill_logo.png" class="img-fluid mr-4 mb-3 mb-md-0" alt="Image Description"/>
                                <img src="assets/images/payment/paypal.svg" class="img-fluid mb-3 mb-md-0" alt="Image Description"/>
                            </div> -->
                            <ul class="list-inline social-list d-inline-block align-middle mb-md-0 mr-5">
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-facebook-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-linkedin2"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="icon-instagram"></i></a></li>
                            </ul>
                            <div class="dl-links d-inline-block align-middle">
                                <a href="#" class="btn btn-dl-link media d-inline-flex mb-3 mb-sm-0">
                                    <i class="icon-googleplay align-self-center mr-3"></i>
                                    <div class="media-body dl-link-text">
                                        Google Play
                                        <small class="d-block">Android App On</small>
                                    </div>
                                </a>
                                <a href="#" class="btn btn-dl-link media d-inline-flex">
                                    <i class="icon-apple align-self-center mr-3"></i>
                                    <div class="media-body dl-link-text">
                                        App Store
                                        <small class="d-block">Download On The</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mt-md-0 mt-4 text-left text-lg-right mb-4 mb-lg-5">
                            <nav class="footer-list">
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item"><a href="#">Terms</a></li>
                                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                                    <li class="list-inline-item"><a href="#">Status</a></li>
                                    <li class="list-inline-item"><a href="#">Security</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- footer rules and copyright -->
                    <div class="row rules align-items-center">
                        <div class="col-md-8 col-sm-7 col-12">
                            <div class="footer-copyright">
                                <p class="text-muted">Copyright © 2019 All Rights Reserved by <strong class="text-dark"> Grona.</strong></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
</footer>


